asgiref==3.7.2
certifi==2026.6.17
charset-normalizer==3.4.9
Django==4.2.11
django-cleanup==9.0.0
gunicorn==21.2.0
idna==3.18
packaging==26.2
pillow==10.2.0
requests==2.31.0
sqlparse==0.4.4
urllib3==2.7.0
whitenoise==6.12.0
